<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14244568867-65ja0lct0ukmmf0to60h5ugovtb08lov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14244568867-65ja0lct0ukmmf0to60h5ugovtb08lov</string>
	<key>API_KEY</key>
	<string>AIzaSyC8hemGeq9MjvVK-JCWjiSqimoPUq4yBso</string>
	<key>GCM_SENDER_ID</key>
	<string>14244568867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artemitrics.debttracker</string>
	<key>PROJECT_ID</key>
	<string>debt-tracker-blngao</string>
	<key>STORAGE_BUCKET</key>
	<string>debt-tracker-blngao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14244568867:ios:f74abad67feb6429ecb696</string>
	<key>DATABASE_URL</key>
	<string>https://debt-tracker-blngao.firebaseio.com</string>
</dict>
</plist>